/* ------ css reset ------ */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
}
/*------------------------*/
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.produktliste {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/*.produkt {
  border: 1px solid lightgray;
  margin: 2px;
}*/
.produkt a {
  text-decoration: none;
  color: black;
}
.produktdeskription {
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.produkt:hover {
  border: 1px solid black;
}
.discount .produktpris :first-child {
  color: red;
}

.discount .produktpris :last-child {
  text-decoration: line-through;
  color: rgb(124, 122, 122);
}
.soldout {
  filter: grayscale(100%);
}
.status {
  position: absolute;
  right: 0;
  padding: 1rem;
}
@media (min-width: 700px) {
  main {
    width: 95%;
    margin: auto;
  }
  .produktliste {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
